<!DOCTYPE html>
<html ng-app="RouletteApp">
<head>
  <title>Roulettejs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="/assets/components/bootstrap-css/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/components/bootstrap-css/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/assets/styles/style.css" type="text/css" media="screen" />
  <script src="/assets/components/jquery/jquery.min.js"></script>
  <script src="/assets/components/bootstrap-javascript/bootstrap.min.js"></script>
  <script src="/assets/components/angular/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    function i18n(key) {
      var keys = {
        'waiting': '<%= __("waiting") %>',
        'connected': '<%= __("connected") %>',
        'connecting': '<%= __("connecting") %>',
        'Browser not compatible !': '<%= __("Browser not compatible !") %>',
        'Error with cam !': '<%= __("Error with cam !") %>'
      };
      var value = keys[key] || key;
      return value;
    }
  </script>
  <script src="/assets/js/roulette.js"></script>
</head>
<body>
  <header>
    <h2>Roulettejs</h2>
  </header>
  <div id="mainContainer" ng-controller="RouletteCtrl" class="row-fluid">